<section class="">

  <div class="">
    <h3>{{business.title}}</h3>
  </div>

  <div class="">
    <h3>{{business.address}}</h3>
  </div>

  <div class="">
    <h3>{{business.description}}</h3>
  </div>
</section>