{{#if business.length}}=

{{#each business as |post|}}
    <div>{{business.title}}</div>
        <a href="/dashboard/edit/{{business_id}}"><button class="button mb-5 ml-5 is-info">Edit Business:</button></a>
        </div>
    {{/each}}

{{else}}
<h5 class="pb-4 has-text-centered is-italic">You do not currently have a business</h5>

{{/if}}
