<section>
    <div class="row">
        <span>
        <a href="/entertainment">
            <img width="150" src="../public/images/category/entertain.jpg" alt="Entertainment-image">
            <h6 class="has-text-black has-text-weight-bold">Entertainment</h6>
            </span>
        </a>
        <a href="/restaurant">
            <img width="150" src="../public/images/category/rest.jpg" alt="Restaurant-image">
            <h6 class="has-text-black has-text-weight-bold">Restaurants</h6>
        </a>
        <a href="/retail">
            <img width="150" src="../public/images/category/retail.jpg" alt="Retail-image">
            <h6 class="has-text-black has-text-weight-bold">Retail</h6>
        </a>
    </div>

</section>