<section class="">
  <h3 class="">{{category.name}}</h3>
  <section class="">
    {{#each subcategory as |subcategory|}}
    {{> subcategoryP}}
    {{/each}}
  </section>
  <h1>hello from category</h1>
</section>