    <section id="entertainment">
        <h2 class="has-text-info has-text-weight-bold is-size-1">Entertainment</h2>
        <ul>
            <a>
            <li>Cinema</li>
            </a>
            <a>
            <li>Hobbies</li>
            </a>
            <a>
            <li>Sports</li>
            </a>
        </ul>
    </section>