<div>
    <section id="restaurants">
        <h2 class="has-text-info has-text-weight-bold is-size-1">Restaurants</h2>
        <ul>
            <a>
                <li>Sushi</li>
            </a>
            <a>
                <li>Mexican</li>
            </a>
            <a>
                <li>Chinese</li>
            </a>
            <a>
                <li>Indian</li>
            </a>
            <a>
                <li>Coffee</li>
            </a>
            
        </ul>
        
    </section>