    <section id="retail">
        <h1 class="has-text-info has-text-weight-bold is-size-1">Retail</h1>
        <ul>
            <a>
            <li>Boutiques</li>
            </a>
            <a>
            <li>Antiques</li>
            </a>
            <a>
            <li>Thrift</li>
            </a>
            <a>
            <li>Grocery</li>
            </a>
        </ul>
    </section>