<div class="column">
  <h2 class="title pb-4">Create Account</h2><hr />
  <form class="signup-form">
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">Email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input type="text" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="button is-primary">Signup</button>
    </div>
  </form>
</div>

<<<<<<< HEAD
<script src="/public/javascript/signup.js"></script>
=======
<script src="/public/javascript/signup.js"></script>
<<<<<<< HEAD
>>>>>>> d6ca28f4fe2f84fbc5c1109cf217bcf46eeba825
=======
>>>>>>> 0bb7b63 (test)
>>>>>>> 8ce68f9 (edit fixed)
